// Your login information for app
// If you do not have an account on this API, you can get one by registering a user through the application.

email = 'your_email@stud.noroff.no
password = 'your_password'