@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-dark: #2e2e2e;
  --clr-primary: #515661;
  --clr-secondary: #515661;
  --clr-accent: #a3a6ad;
  --clr-contrast: #c5bb9b;
  --clr-white: #fcfffe;
}

nav > a,
nav > button {
  position: relative;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  border: 2px solid var(--clr-primary);
  overflow: hidden;
  background-color: var(--clr-white);
}

.bg-white {
  z-index: 0;
}

.card {
  position: relative;
  overflow: hidden;
}

.preview-card {
  position: relative;
}

.listing {
  position: relative;
  overflow: hidden;
}

.card:after,
.card-promo:after,
.card-promo:before,
.listing:before,
.listing:after,
.preview-card:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0.5rem solid var(--clr-primary);
  border-left: 0.5rem solid transparent;
  border-top: 0.5rem solid transparent;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.preview-card:before {
  z-index: 2;
  top: 0;
  left: 0;
  border: 3rem solid var(--clr-contrast);
  border-bottom: 3em solid transparent;
  border-right: 3em solid transparent;
}

.card:after {
  border: 6rem solid var(--clr-primary);
  border-left: 6rem solid transparent;
  border-top: 6rem solid transparent;
}

.card-promo:after,
.listing:after {
  --width: 9rem;
  --height: 4.5rem;
  border: var(--height) solid var(--clr-contrast);
  border-left: var(--width) solid transparent;
  border-top: var(--height) solid transparent;
  border-right: var(--width) solid var(--clr-contrast);
}

.card-promo:before,
.listing:before {
  --width: 9rem;
  --height: 4.5rem;
  left: 0;
  top: 0;
  border: var(--height) solid transparent;
  border-left: var(--width) solid var(--clr-primary);
  border-top: var(--height) solid var(--clr-primary);
  border-right: var(--width) solid transparent;
}

nav > a:hover,
nav > button:hover {
  background-color: var(--clr-secondary);
  color: #fff;
  transition: all 200ms ease-in-out;
}

.background-auth {
  background-image: url('./../../media/images/christmas-theme.jpg');
  background-size: cover;
}

:hover {
  transition: all 200ms ease-in-out;
}

.card {
  transform: scale(1);
  transition: all 200ms ease-in-out;
}

.card:hover {
  cursor: pointer;
  outline: 0.5px solid rgba(0, 0, 0, 0.5);
}

.countDownOpacity {
  opacity: 0;
  transition: opacity 1000 ease-in;
}

.card:hover .countDownOpacity {
  opacity: 1;
  transition: opacity 1000 ease-in;
}

.active-button {
  background-color: var(--clr-secondary);
  color: #fff;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  scrollbar-width: none;
  width: 90vw;
  max-height: 90vh;
  border-radius: 0.5em;
  z-index: -99;
  display: none;
  transition: transform 200ms ease-in-out;
}

.modal-auth {
  max-width: max-content;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: -99;
  display: none;
}

.active-pagination {
  background-color: #fff;
  color: var(--clr-primary);
  border: 2px solid var(--clr-secondary);
}

.active {
  transition: transform 200ms ease-in;
  display: block;
  z-index: 90;
}

/* .loader {
  --size: 82px;
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--clr-contrast);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  background-color: #fff;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--clr-primary) transparent;
} */

:focus:not(button) {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--clr-contrast);
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--clr-contrast);
  transition: all 200ms ease-in-out;
}

.popUp {
  z-index: 1000;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
