@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-dark: #363636;
  --clr-primary: #943a0a;
  --clr-secondary: #004745;
}

.background {
  /* background-image: linear-gradient(180deg, #fdfcfb 0%, #f7f1ec 100%); */
  background-image: linear-gradient(180deg, #debeb2 0%, #e6542f 100%);
}

.background-auth {
  background-image: url('../../media/images/retro-bg.jpg');
  background-size: cover;
}

button,
.search,
.btn {
  border: 3px solid var(--clr-primary);
  border-radius: 5px;
  height: min-content;
  box-shadow: 3px 3px 0 0 var(--clr-primary);
}

.search {
  border: 3px solid var(--clr-primary);
  box-shadow: 3px 3px 0 0 var(--clr-primary);
}

button.pills {
  outline: none;
}

button:hover,
.btn:hover {
  box-shadow: 3px 3px 0 0 var(--clr-dark);
  border: 3px solid var(--clr-dark);
  transition: all 50ms ease-in-out;
  color: var(--clr-dark);
}

button.active {
  box-shadow: none;
}

.background-shadow {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.card:hover > img {
  border-radius: 0.5rem 0.5rem 0 0;
  transition: all 200ms ease-in;
  transition-delay: 300ms;
}

.card:hover {
  box-shadow: 5px 5px 0 0 var(--clr-primary);
  cursor: pointer;
  transform: translate(-2%, -2%);
  transition: all 200ms ease-in-out;
  transition-delay: 300ms;
}

.active-button {
  box-shadow: 3px 3px 0 0 var(--clr-secondary);
  border: 3px solid var(--clr-secondary);
  color: var(--clr-secondary);
}
